body {
    font-family: 'OWS';
}

@font-face {
    font-family: 'Qadi';
    font-weight: 400;
    src: url('../style/fonts/Qadi.woff2') format('woff2'), url('../style/fonts/Qadi.woff') format('woff');
}

@font-face {
    font-family: 'OWS';
    font-weight: 100;
    src: url('../style/fonts/FC74217.woff2') format('woff2'), url('../style/fonts/FC74217.woff') format('woff');
}

@font-face {
    font-family: 'OWS';
    font-weight: 400;
    src: url('../style/fonts/FC35543.woff2') format('woff2'), url('../style/fonts/FC35543.woff') format('woff');
}

@font-face {
    font-family: 'OWS';
    font-weight: 700;
    src: url('../style/fonts/FC29469.woff2') format('woff2'), url('../style/fonts/FC29469.woff') format('woff');
}

.titleH {
    font-family: 'Qadi' !important;
    font-size: 10vw;
    display: flex;
    justify-content: center;
}


/* centered div in the middle */

hr {
    width: 50%;
    margin-bottom: 2%;
}

.source {
    font-weight: bold;
    text-align: left;
    padding: 5%;
    color: darkblue;
}

section {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 50%;
    border-radius: 1%;
}

.imgP {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    flex-direction: column;
}

.imgC {
    font-size: larger;
    color: rgba(0, 0, 0, 0.536);
    font-weight: lighter;
    margin-top: 2px;
}

p {
    font-family: 'OWS';
    padding: 0 15%;
    font-size: 20px;
    text-align: justify;
    line-height: 2.2rem;
    margin-bottom: 24px;
}

h1 {
    font-family: 'OWS';
    padding: 0 15%;
}

.two-centered-divs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

table.poem {
    direction: rtl;
    margin: auto;
    width: max-content;
}

.quote-container {
    display: flex;
    justify-content: center;
}

table.poem td {
    padding-left: 3ex;
    padding-right: 3ex;
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}

.quote {
    width: fit-content;
    font-family: 'OWS';
    font-weight: lighter;
    margin: 0 20%;
    font-size: 20px;
    text-align: justify;
    line-height: 2rem;
    margin-bottom: 24px;
    background-color: rgba(128, 128, 128, 0.213);
    padding: 6px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.827);
}